
table {
    width: 100%; /* Ocupa toda la pantalla */
    height: 100vh; /*Ocupa toda la altura de la ventana)*/
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    margin: 10px; /* Márgenes alrededor de la tabla */
}

td , th {
    border: 1px solid black; /* Borde alrededor de las celdas */
    background-color: rgb(255, 219, 127); /* fondo */
    color: rgb(28, 2, 18); /* texto */
    padding: 25px; /* Espacio dentro de las celdas */
    text-align: center; /* Alineación del texto */
    font-size: xx-large; /* Tamaño grande de la fuente */
    vertical-align: text-top;
}

/* Hacer la tabla responsiva */
.table-wrapper {
    overflow-x: auto;  /* Permite desplazamiento horizontal :usuarios pueden desplazarse hacia la dch/izq para ver el contenido que no cabe en la pantalla. */
    /*x es horizontal (eje x de una tabla de coordenadas / plano cartesiano)*/
    -webkit-overflow-scrolling: touch;  /* Habilita desplazamiento suave en dispositivos iOS */
}


/* Estilos responsivos: */
@media (max-width: 600px) { /*condicion*/
    table, th, td {
        font-size: 14px;  /* Reduce el tamaño de fuente en pantallas pequeñas */
    }

    th, td {
        padding: 10px;  /* Reduce el espacio interno de las celdas en pantallas pequeñas */
    }

}

/*colores celdas*/
.c1{
    background-color: rgb(185, 93, 93);
}

.c2{
    background-color: rgb(130, 206, 126);
}
